.examWrapper {
    padding: 40px 0;
    p {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .newexam-form {
        &.hidden {
            display: none;
        }

        .submit-container {
            display: flex;
            justify-content: flex-end;
            padding: 20px 0;
        }
    }

    .oneInput {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.exam-list {
    padding: 40px 0;
    .exam-list-table {
        .actions {
            display: flex;
            justify-content: space-around;
            i {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}