.teacherWrapper, {
    padding: 40px 0;
    p {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .newclass-form {
        &.hidden {
            display: none;
        }

        .submit-container {
            display: flex;
            justify-content: flex-end;
            padding: 20px 0;
        }
    }
}

.classWrapper {
    padding: 40px 0;
    .oneInput {
        margin: 20px 0;
    }
    .submit-container {
        display: flex;
        justify-content: flex-end;
        padding: 20px 0;
    }
}

.classroom-list, .student-list {
    padding: 40px 0;
    .class-list-table, .student-list-table {
        .actions {
            display: flex;
            justify-content: space-around;
            i {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.invite {
    margin-top: 50px;
}